@use '../../sass/utils/variables' as v;
@use '../../sass/utils/mixins' as m;
@use '../../index.scss';

.home-thumb {
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.home-title {
  margin-bottom: 20px;
  margin-top: 150px;
  color: v.$accent-color;
  background-image: url('../../assets/images/flags_text_bg.png');
  background-clip: text;
  -webkit-background-clip: text;
  background-size: cover;
  background-position: top;
  color: transparent;
  font-size: 50px;
  filter: drop-shadow(6px 6px 19px v.$accent-color);

  @include m.mobile {
    font-size: 80px;
    margin-bottom: 40px;
  }
  @include m.tablet {
    font-size: 90px;
  }
  @include m.desktop {
    font-size: 150px;
    margin-bottom: 50px;
  }
}

.home-link {
  @extend .base-btn-link;
  font-size: 12px;

  @include m.mobile {
    font-size: 18px;
    padding: 15px;
  }

  @include m.tablet {
    font-size: 20px;
  }
  @include m.desktop {
    font-size: 24px;
  }
}
