@use '../../sass/utils/_variables.scss' as v;
@use '../../sass/utils/_mixins.scss' as m;

.header {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px;
  width: 98vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: v.$accent-color;
  border-bottom: 1px solid v.$accent-color;
}

.header-img {
  width: 80px;
  height: 80px;
}

.main-title {
  margin-bottom: 10px;
  font-size: 24px;
  &:hover {
    color: rgb(42, 111, 215);
    filter: v.$hover-drop-shadow;
  }
  @include m.tablet {
    font-size: 36px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

// @media screen and (min-width: 480px) {
//   .container {
//     width: 480px;
//   }
// }
// @media screen and (min-width: 768px) {
//   .container {
//     width: 768px;
//   }
// }
// @media screen and (min-width: 1280px) {
//   .container {
//     width: 1280px;
//   }
// }
