@use './sass/utils/_variables.scss' as v;
@use './sass/utils/_mixins.scss' as m;
@use './sass/utils/_reset.scss';

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiTablePagination-root {
  @media screen and (max-width: 700px) {
    width: calc(100vw - 40px);
    padding: 0;
  }
}

.MuiTablePagination-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
