@use './sass/utils/_variables.scss' as v;
@use './sass/utils/_mixins.scss' as m;
@use './sass/utils/_reset.scss';

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: v.$bg-color;
  color: v.$main-text-color;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.base-btn-link {
  padding: 7px;
  background-color: v.$accent-color;
  color: #fff;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: filter v.$transition-time, color v.$transition-time,
    text-decoration v.$transition-time;

  &:hover {
    filter: v.$hover-drop-shadow;
    color: rgb(186, 210, 247);
    text-decoration: none;
  }
}
